img {
    width: 300px;
}

p, li {
    width: 60%;
}

.recipe-link {
    margin-right: 20px;
    margin-top: 20px;
}

.odin-recipes {
    display: block;
    height: 100px;
    width: 600px;
    margin: -8px;
}

.top-banner {
    display: block;
    height: 50px;
    width: 300px;
    margin: -8px;
}

body, .odin-recipes {
    background-color: #13eca6;
}